POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=document_parser
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DOCUMENT_STORAGE_PATH=./data/documents
PORT=3000
